$dark: #201D22;
$dark: #14171c;
$danger: #FB5044;
$red: #FB5044;
$blue: #007AE1;
$lblue: #1CA8DD;
$primary: #1CA8DD;
$green: #7CC063;
$success: #7CC063;
$yellow: #FCCC33;
$warning: $yellow;
$purple: #9F86FF;
$orange: #ECBD67;
$pink: #D2527F;
$darker: #262626;
$gray: lighten($dark, 20%);
$light: #fff;
$gray: #E8E9EF;
$lgray: #FCFCFC;
$fsize: 13px;
$dgray: #757A86;
$lgray2: lighten($dark, 83%);